.main-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-position {
    display: flex;
    justify-content: center;
    align-items: center;
}