.main-container {
    padding: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
}

.about-position {
    display: flex;
    justify-content: center;
    align-items: center;
}