.blog-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-header-container {
    display: flex; 
    margin-left: auto; 
    margin-right: 0;    
}

.blog-post-title-text {
    float: left;
}

.blog-post-date-text {
    margin-left: auto;
}